<div id="menu"></div>
@*data: [{ "LinkId": 1, "Version": 1, "Name": "alsdkjf", "ImageSrc": "alsdkjf", "ImageAltText": "sadljk;f", "Target": 1, "TargetHref": "1", "Links": [{ "LinkId": 2, "Version": 1, "Name": "CHILD", "ImageSrc": "LLL", "ImageAltText": "LLL", "Target": 1, "TargetHref": "1", "Links": null, "Visibility": 1 }], "Visibility": 1 }, { "LinkId": 2, "Version": 1, "Name": "CHILD", "ImageSrc": "LLL", "ImageAltText": "LLL", "Target": 1, "TargetHref": "1", "Links": null, "Visibility": 1 }],*@

@section scripts{
    <script>

        $(document).ready(function () {
            var source = new kendo.data.DataSource({
                transport: {
                            read: {
                                url: "http://localhost:49330/api/menu",
                                dataType: "json"
                            }
                        },
                schema: {
                    data: function (data) {
                        var parse = function(links){
                            return $.map(links, function(link){
                                return {
                                    text: link.Name,
                                    imageUrl: link.ImageSrc,
                                    items: parse(link.Links)
                                };
                            });
                        };

                        return parse(data.Links);
                    }
                }
            });
            //var source = new kendo.data.DataSource({
            //    transport: {
            //        read: {
            //            url: "http://localhost:49330/link",
            //            dataType: "json"
            //        }
            //    }
            //});

            //$("#menu").kendoMenu({
            //    dataSource: source,
            //    dataTextField: "name"
            //});
                

            $("#menu").kendoMenu({datasource: source});
        });
    </script>
}